a {
    cursor: pointer;
    margin-right: 10px;
}
div {
    padding: 5px;
}

img {
    vertical-align: middle;
}
h1 {
    font-size: 14px;
}

.body {
    padding: 10 5px;
    min-height: 100px;
}
.menu {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.footer {
    border-top: 1px solid;
}

.root {
    width: 500px;
}